<IfModule mod_rewrite.c>
  RewriteEngine On

  # fajl/folder -> posluži direktno
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # API na Laravel
  RewriteCond %{REQUEST_URI} ^/api [NC]
  RewriteRule ^ index.php [L]

  # ostalo -> SPA
  RewriteRule . /index.html [L]
</IfModule>